---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.table-images {
    max-width: 200px;
    min-width: 180px;
}

.two-col-table-with-left-images {
    table-layout: fixed;
    td {
        padding: 3px;
    }
    td:nth-child(2) {
        max-width: 300px;
        min-width: 100px;
    }
}

.three-col-table {
    td:nth-child(n+2)  {
        width: 350px;
    }
   
    table-layout: fixed;
}

section > h3, section > h4 {
    cursor: default;
    position: relative;
    display: inline-block;
}

section > h3:after, section > h4:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    bottom: 0px;
    left: 0;
    background: #00adb5;
}

h1 {
    text-decoration: none;
    position: relative;
    display: inline-block;
}
  
h1:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    bottom: 0px;
    left: 0;
    background: #00adb5;
    // transform-origin: 0%;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
}

h1:hover { 
    &:after {
      transform: scaleX(1);
      transition: transform 0.3s ease-out;   
    } 
}

pre.code {
    border: 1px solid #ddd;
    padding: 6px 5px;
    font-size: 13px;
    // margin: 10px;
}

#scroll-to-top {
    display: block;
    position: fixed;
    font-size: 21px;
    @media (max-width: 600px) {
        font-size: 20px;
    }
    bottom: 25px;
    right: 10%;
    @media (max-width: 600px) {
        right: 5%;
        bottom: 15px;
    }
    
    opacity: 0;
    z-index: 99;
    text-align: center;
    
    :last-child {
      transition: transform 0.7s ease-in-out;
      
      &:active, &:hover {
         transform: translateY(-10%);
      }
    }
    transform: translateY(30%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}


#scroll-to-top span {
    cursor: pointer;
    color: #1a1d24;

    &:hover, &:active {
        .up-arrow {
            color: #00adb5;
        }
    }
}

.highlighter-rouge {
    background: gray;
}

@media all and (max-width: 360px) {
    div.highlighter-rouge {
        font-size: .4em;
    }
}

@media all and (max-width: 460px) {
    div.highlighter-rouge {
        font-size: .5em;
    }
}

